body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -100;
    object-fit: cover;
    object-position: center;
    filter: brightness(1.1);
    opacity: 0.95;
}
